@charset "ISO-8859-1";

.card-img-top {
	max-height: 220px;
}

.card-noimg-top {
	max-height: 150px;
}

.pagination-sec {
	margin: 0 auto;
}

/* create post  */
.bg-color {
	background-color: #f6f6f6;
	color: #56baed;
}

.btn-bg-color {
	background-color: #56baed;
}

textarea {
	height: 150px;
}

.fix-image {
	width: 200px;
	height: 150px;
}