<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="cgm.ojt.bulletin.persistence.entity.User" />
		<mapping class="cgm.ojt.bulletin.persistence.entity.Post" />
		<mapping class="cgm.ojt.bulletin.persistence.entity.Category" />
		<!-- <mapping class="cgm.ojt.bulletin.persistence.entity.Post_Category" /> -->
	</session-factory>
</hibernate-configuration> 